.header {
  display: flex;
  flex-direction: row;
  background-color: var(--blue);
  margin: 0;
  padding: 0 8px;
  height: 45px;
  align-items: center;
}

.header * {
  display: flex;
}

.header mat-icon {
  color: white;
  padding: 8px;
  cursor: pointer;
}

.header .title {
  color: white;
  margin: 0 8px;
}