div.header.space-between
  div.my-container--center
    mat-icon(title='Menu') menu
    h4.title Shop
  div
    mat-icon(title='Shopping list') shopping_basket
    mat-icon(title='Reciples') room_service
    mat-icon(title='Settings') settings
    mat-icon(title='Exit') exit_to_app